*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #0F0B21;
    background-image: url(fundoBg/fundoprojeto.png);
    background-size: cover;
}


#logo-container{
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    }


#logo-img{
    width: 350px;
    height: 250px;
}

main{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.Left-side{
    padding:50px;
    width: 100%;
}

#title-content-left{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    
    
}
#title-content-left h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 85px;
    color: white;
    text-shadow: 3px 3px 3px wheat;
    font-weight: bold;
}

#container-content-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#content-mid-left{
    font-size: 55px;
    color: wheat;
    text-shadow: 1px 2px 2px white;
    font-weight: bold;
    margin-bottom:5px;
    width: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

span{
    color: tomato;
    font-size: 60px;
    text-shadow: 2px 4px 4px lightgrey;
    
}

#content-footer-left{
    margin-top: 15px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    
}

/* Right Site Main- Form*/


form{
    width: 80%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    box-shadow: 0px 0px 10px whitesmoke;
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 60px;

}


#container-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-form label{
    width: 70%;
}

form label{
    padding :4px;
    font-size: 15px;
    color: wheat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h2{
    margin-bottom: 50px;
    font-size: 50px;
    color: wheat;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    height: 50px;
    width: 70%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}
button{
    margin-top: 20px;
    height: 70px;
    border-radius: 40px;
    width: 55%;
    background-color: tomato;
    cursor: pointer;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 5px 4px black;
    transition: 0.2s;
    box-shadow: 0px 0px 30px black;
}

 button:hover{
     transition: 0.5s;
     background-color: lightsalmon;
     box-shadow: 0px 0px 30px black;
    }