/*max600-Mobile*/
@media only screen and (max-width: 600px) {
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

#logo-img{
    width: 170px;
    height: 110px;
    align-items: center;
}

main{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.Left-side{
    padding:50px;
    width: 100%;
}

#title-content-left{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-content-left h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 37px;
    color: wheat;
    text-shadow: 1px 2px 2px whitesmoke;
    font-weight: bold;
}

#container-content-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

#content-mid-left{
    font-size: 30px;
    color: white;
    text-shadow: 1px 2px 2px white;
    font-weight: bold;
    margin-bottom:5px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

span{
    color: tomato;
    font-size: 35px;
    text-shadow: 1px 2px 2px whitesmoke;
}

#content-footer-left{
    margin-top: 15px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    width: 100%;
}

form{
    width: 90%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 1px -1px 5px whitesmoke;
    
}

#container-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#container-form label{
    width: 90%;
}

form label{
    padding :4px;
    font-size: 13px;
    color: wheat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h2{
    margin-bottom: 30px;
    font-size: 35px;
    color: whitesmoke;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    height: 35px;
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}
button{
    margin-top: 10px;
    height: 50px;
    border-radius: 20px;
    width: 55%;
    background-color: tomato;
    cursor: pointer;
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 1px 2px 2px black;
    transition: 0.2s;
}
}
/*min601-Tablet*/
@media only screen and (min-width: 601px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
  
    #logo-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    
    
    #logo-img{
        width: 170px;
        height: 110px;
        align-items: center;
    }
    
    main{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .Left-side{
        padding:15px;
        width: 100%;
    }
    
    #title-content-left{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #title-content-left h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        font-size: 35px;
        color: wheat;
        text-shadow: 1px 2px 2px whitesmoke;
        font-weight: bold;
    }
    
    #container-content-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #content-mid-left{
        font-size: 32px;
        color: white;
        text-shadow: 1px 2px 2px white;
        font-weight: bold;
        margin-bottom:5px;
        width: 100%;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }
    
    span{
        color: tomato;
        font-size: 35px;
        text-shadow: 1px 2px 2px whitesmoke;
    }
    
    #content-footer-left{
        margin-top: 15px;
        font-size: 16px;
        color: white;
        font-weight: bold;
    }
    
    form{
        width: 85%;
        display: flex;
        flex-direction: column;   
        align-items: center;
        border-radius: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        box-shadow: 1px -1px 5px whitesmoke;
    }
    
    #container-form{
        width: 86%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #container-form label{
        width: 90%;
    }
    
    form label{
        padding :4px;
        font-size: 16px;
        color: wheat;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
    }
    
    h2{
        margin-bottom: 35px;
        font-size: 35px;
        color: whitesmoke;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    input{
        height: 45px;
        width: 90%;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 8px;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    button{
        margin-top: 10px;
        height: 52px;
        border-radius: 20px;
        width: 50%;
        background-color: tomato;
        cursor: pointer;
        color: whitesmoke;
        font-size: 17px;
        font-weight: bold;
        text-shadow: 1px 2px 2px black;
        transition: 0.2s;
    }
}

/*max1600x-Notebook and some desktop*/
@media only screen and (min-width:992px) and (max-width:1600px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    #logo-container{
        width: 100%;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 43px;
        }
    
    
    #logo-img{
        width: 250px;
        height: 170px;
    }
    
    main{
        width: 98%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .Left-side{
        padding:30px;
        width: 100%;
    }
    
    #title-content-left{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    #title-content-left h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        font-size: 40px;
        color: white;
        text-shadow: 1px 2px 2px wheat;
        font-weight: bold;
    }
    
    #container-content-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    #content-mid-left{
        font-size: 32px;
        color: wheat;
        text-shadow: 1px 2px 2px white;
        font-weight: bold;
        margin-bottom:5px;
        width: 100%;
        align-items: flex-start;
        text-align: start;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }
    
    span{
        color: tomato;
        font-size: 37px;
        text-shadow: 1px 3px 2px lightgrey;
        
    }
    
    #content-footer-left{
        margin-top: 15px;
        font-size: 15px;
        color: white;
        font-weight: bold;
        width: 100%;
    }
    
    form{
        width: 100%;
        display: flex;
        flex-direction: column;   
        align-items: center;
        border-radius: 15px;
        backdrop-filter: blur(10px);
        border-radius: 25px;
        box-shadow: 1px -1px 5px whitesmoke;
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    
    }
    
    
    #container-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #container-form label{
        width: 80%;
    }
    
    form label{
        padding :4px;
        font-size: 15px;
        color: wheat;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
    
    h2{
        margin-bottom: 40px;
        font-size: 40px;
        color: wheat;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    input{
        height: 45px;
        width: 80%;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 8px;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    button{
        margin-top: 15px;
        height: 70px;
        border-radius: 38px;
        width: 60%;
        background-color: tomato;
        cursor: pointer;
        color: whitesmoke;
        font-size: 18px;
        font-weight: bold;
        text-shadow: 1px 2px 2px black;
        transition: 0.2s;
        box-shadow: 0px 0px 20px black;
    }
    
     button:hover{
         transition: 0.5s;
         background-color: lightsalmon;
         box-shadow: 0px 0px 20px black;
    }
}
/*min16001 full hd desktop*/
@media only screen and (min-width:1601px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    }
 
    #logo-container{
        width: 100%;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;
        }
    
    
    #logo-img{
        width: 300px;
        height: 220px;
    }
    
    main{
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .Left-side{
        padding:30px;
        width: 100%;
    }
    
    #title-content-left{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        
    }
    #title-content-left h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        font-size: 55px;
        color: white;
        text-shadow: 1px 2px 2px wheat;
        font-weight: bold;
    }
    
    #container-content-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    #content-mid-left{
        font-size: 45px;
        color: wheat;
        text-shadow: 1px 2px 2px white;
        font-weight: bold;
        margin-bottom:5px;
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        text-align: start;
    }
    
    span{
        color: tomato;
        font-size: 50px;
        text-shadow: 1px 3px 3px lightgrey;
        
    }
    
    #content-footer-left{
        margin-top: 15px;
        font-size: 20px;
        color: white;
        font-weight: bold;
        
    }
    
    /* Right Site Main- Form*/
    
    
    form{
        width: 80%;
        display: flex;
        flex-direction: column;   
        align-items: center;
        border-radius: 15px;
        backdrop-filter: blur(10px);
        border-radius: 25px;
        box-shadow: 1px -1px 5px whitesmoke;
        margin-top: 100px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    #container-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #container-form label{
        width: 76%;
    }
    
    form label{
        padding :4px;
        font-size: 15px;
        color: wheat;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
    
    h2{
        padding: 10px;
        margin-bottom: 50px;
        font-size: 50px;
        color: wheat;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    input{
        height: 50px;
        width: 75%;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 8px;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    button{
        margin-top: 20px;
        height: 70px;
        border-radius: 40px;
        width: 55%;
        background-color: tomato;
        cursor: pointer;
        color: whitesmoke;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 2px 2px black;
        transition: 0.2s;
        box-shadow: 0px 0px 25px black;
    }
    
     button:hover{
         transition: 0.5s;
         background-color: lightsalmon;
         box-shadow: 0px 0px 25px black;
        }
}